#cont{
    width: 100vm;
    height: 100vh;
    display: flex;
    align-items: center;
}

.contact{
      width: 500px;
      max-height: 500px;
      padding-left:30px;
      padding-right:60px ;
      border-radius: 10px;
  }
  h1{
    text-align: center;
      margin-bottom: 10px;
      margin-left: 10px;
  }
  input{
    color: #d0e2f0;
    border-radius: 20px;
      width: 100%;
      padding: 20px;
      margin-bottom: 10px;
  }
  textarea{
    color: #edf6fd;
      width: 100%;
      padding: 20px;
      border-radius: 20px;
      border: 2px solid black;
  }
  #submit{
      border: none;
      background-color: #1a57c2;
      color: white;
      width: 200px;
      margin-top: 10px;
      margin-left: 150px;
      border-radius: 10px;
  }
  #submit:hover{
      background-color: #7dadff;
  }

  #cont img{
    mix-blend-mode: darken;
    width: 50%;
    height: 80%;
  }
  
  @media (max-width: 768px) {
    .contact {
      margin-left: 0%;
      width: 100%;
    }
    img{
        display: none;
    }
  }